In [3]:
# from utils.pandas import read_text
import pandas as pd
import numpy as np
from io import StringIO

data = StringIO("""
    A   B   C     D  E
0  foo one small  1  1
1  foo one large  2  1
2  foo one large  2  1
5  bar one large  4  1
6  bar one small  5  1
7  bar two small  6  1
8  bar two large  7  1
9  foo th1 small  3  1
10  foo th2 small  3  1
11  foo th3 small  3  1
12  foo th4 small  3  1
""")

df = pd.read_csv(data,sep=r'\s+')

In [4]:
# columns = None
columns = ['C','D']
index=['A', 'B']
# index=None
aggfunc=np.mean
# values=['E']

In [113]:
from scipy.sparse import csr_matrix

def df_to_sm(data, vars_i, vars_j, aggfunc='mean'):
    grpr_i = data.groupby(vars_i).grouper
    idx_i = grpr_i.group_info[0]
    grpr_j = data.groupby(vars_j).grouper
    idx_j = grpr_j.group_info[0]
    
    print(grpr_i.group_info)
    print(grpr_i.groups)
    print()
    
    print(grpr_j.group_info)
    print(grpr_j.groups)

    data_sm = csr_matrix((data['E'].values, (idx_i, idx_j)),
                         shape=(grpr_i.ngroups, grpr_j.ngroups))

    return data_sm, grpr_i, grpr_j

In [114]:
result, _, _ = df_to_sm(df,vars_i=index,vars_j=columns,aggfunc=aggfunc)

result.todense()

(array([2, 2, 2, 0, 0, 1, 1, 3, 4, 5, 6]), array([ 0,  5,  6,  7,  8,  9, 10]), 7)
{('bar', 'one'): Int64Index([5, 6], dtype='int64'), ('bar', 'two'): Int64Index([7, 8], dtype='int64'), ('foo', 'one'): Int64Index([0, 1, 2], dtype='int64'), ('foo', 'th1'): Int64Index([9], dtype='int64'), ('foo', 'th2'): Int64Index([10], dtype='int64'), ('foo', 'th3'): Int64Index([11], dtype='int64'), ('foo', 'th4'): Int64Index([12], dtype='int64')}

(array([3, 0, 0, 1, 5, 6, 2, 4, 4, 4, 4]), array([ 1,  3,  6,  7,  9, 11, 12]), 7)
{('large', 2): Int64Index([1, 2], dtype='int64'), ('large', 4): Int64Index([5], dtype='int64'), ('large', 7): Int64Index([8], dtype='int64'), ('small', 1): Int64Index([0], dtype='int64'), ('small', 3): Int64Index([9, 10, 11, 12], dtype='int64'), ('small', 5): Int64Index([6], dtype='int64'), ('small', 6): Int64Index([7], dtype='int64')}

matrix([[0, 1, 0, 0, 0, 1, 0],
        [0, 0, 1, 0, 0, 0, 1],
        [2, 0, 0, 1, 0, 0, 0],
        [0, 0, 0, 0, 1, 0, 0],
        [0, 0, 0, 0, 1, 0, 0],
        [0, 0, 0, 0, 1, 0, 0],
        [0, 0, 0, 0, 1, 0, 0]], dtype=int64)

In [36]:
from scipy.sparse import csr_matrix

keys = index + columns
grouped = df.groupby(keys)
agged = grouped.agg(aggfunc)
keys_list = list(zip(*grouped.grouper.groups.keys()))

index_len = len(index)
col_len = len(columns)

index_zip = zip(*keys_list[:index_len])
col_zip = zip(*keys_list[index_len:])

index_set = []
col_set = []

for i in zip(*keys_list[:index_len]):
    if i not in index_set:
        index_set.append(i)
        
for i in zip(*keys_list[index_len:]):
    if i not in col_set:
        col_set.append(i)

index_dict = {name: idx for idx, name in enumerate(index_set)}
col_dict = {name: idx for idx, name in enumerate(col_set)}

index_coord = [index_dict[i] for i in index_zip]
col_coord = [col_dict[i] for i in col_zip]
data_values = agged['E'].tolist()

csr_matrix((data_values, (index_coord, col_coord)),
                         shape=(len(index_set), len(col_set))).todense()

values = ['E']

col_idx_data = col_set.copy()
if isinstance(values, list):
    col_idx_data = map(lambda x: tuple(values) + x, col_set)
col_idx = pd.MultiIndex.from_arrays(list(zip(*col_idx_data)), names=[None] + columns)
col_idx

index_idx = pd.MultiIndex.from_arrays(list(zip(*index_set)), names=index)

matrix([[1, 1, 0, 0, 0, 0, 0],
        [0, 0, 1, 1, 0, 0, 0],
        [0, 0, 0, 0, 1, 1, 0],
        [0, 0, 0, 0, 0, 0, 1],
        [0, 0, 0, 0, 0, 0, 1],
        [0, 0, 0, 0, 0, 0, 1],
        [0, 0, 0, 0, 0, 0, 1]], dtype=int64)

In [97]:

col_idx

MultiIndex(levels=[['E'], ['large', 'small'], [1, 2, 3, 4, 5, 6, 7]],
           labels=[[0, 0, 0, 0, 0, 0, 0], [0, 1, 0, 1, 0, 1, 1], [3, 4, 6, 5, 1, 0, 2]],
           names=[None, 'C', 'D'])

In [89]:
['E'] + ['E']

['E', 'E']

In [94]:
temp = pd.pivot_table(df,index=index,columns=columns)

# temp.columns = col_idx

# temp.index = index_idx

# temp

temp

            E
C       large           small
D           2    4    7     1    3    5    6
A   B
bar one   NaN  1.0  NaN   NaN  NaN  1.0  NaN
    two   NaN  NaN  1.0   NaN  NaN  NaN  1.0
foo one   1.0  NaN  NaN   1.0  NaN  NaN  NaN
    th1   NaN  NaN  NaN   NaN  1.0  NaN  NaN
    th2   NaN  NaN  NaN   NaN  1.0  NaN  NaN
    th3   NaN  NaN  NaN   NaN  1.0  NaN  NaN
    th4   NaN  NaN  NaN   NaN  1.0  NaN  NaN

In [112]:


keys = index+columns
grouped = df.groupby(keys)
agged = grouped.agg(aggfunc)

print(grouped.grouper.groups)
# print(grouped.grouper.get_group_levels())
# print(grouped.grouper.get_iterator(df))
print(agged)

for i in grouped.grouper.get_iterator(df):
    print(i)

table = agged
if table.index.nlevels > 1:
    # Related GH #17123
    # If index_names are integers, determine whether the integers refer
    # to the level position or name.
    index_names = agged.index.names[:len(index)]
    to_unstack = []
    for i in range(len(index), len(keys)):
        name = agged.index.names[i]
        if name is None or name in index_names:
            to_unstack.append(i)
        else:
            to_unstack.append(name)
    table = agged.unstack(to_unstack)

from pandas.core.reshape.util import cartesian_product
from pandas import MultiIndex
try:
    m = MultiIndex.from_arrays(cartesian_product(table.index.levels),
                               names=table.index.names)
    table = table.reindex_axis(m, axis=0)
except AttributeError:
    pass  # it's a single level

try:
    m = MultiIndex.from_arrays(cartesian_product(table.columns.levels),
                               names=table.columns.names)
    table = table.reindex_axis(m, axis=1)
except AttributeError:
    pass  # it's a single level or a series
        
table

{('bar', 'one', 'large', 4): Int64Index([5], dtype='int64'), ('bar', 'one', 'small', 5): Int64Index([6], dtype='int64'), ('bar', 'two', 'large', 7): Int64Index([8], dtype='int64'), ('bar', 'two', 'small', 6): Int64Index([7], dtype='int64'), ('foo', 'one', 'large', 2): Int64Index([1, 2], dtype='int64'), ('foo', 'one', 'small', 1): Int64Index([0], dtype='int64'), ('foo', 'th1', 'small', 3): Int64Index([9], dtype='int64'), ('foo', 'th2', 'small', 3): Int64Index([10], dtype='int64'), ('foo', 'th3', 'small', 3): Int64Index([11], dtype='int64'), ('foo', 'th4', 'small', 3): Int64Index([12], dtype='int64')}
                 E
A   B   C     D
bar one large 4  1
        small 5  1
    two large 7  1
        small 6  1
foo one large 2  1
        small 1  1
    th1 small 3  1
    th2 small 3  1
    th3 small 3  1
    th4 small 3  1
(('bar', 'one', 'large', 4),      A    B      C  D  E
5  bar  one  large  4  1)
(('bar', 'one', 'small', 5),      A    B      C  D  E
6  bar  one  small  5  1)
(('bar', 'two', 'large', 7),      A    B      C  D  E
8  bar  two  large  7  1)
(('bar', 'two', 'small', 6),      A    B      C  D  E
7  bar  two  small  6  1)
(('foo', 'one', 'large', 2),      A    B      C  D  E
1  foo  one  large  2  1
2  foo  one  large  2  1)
(('foo', 'one', 'small', 1),      A    B      C  D  E
0  foo  one  small  1  1)
(('foo', 'th1', 'small', 3),      A    B      C  D  E
9  foo  th1  small  3  1)
(('foo', 'th2', 'small', 3),       A    B      C  D  E
10  foo  th2  small  3  1)
(('foo', 'th3', 'small', 3),       A    B      C  D  E
11  foo  th3  small  3  1)
(('foo', 'th4', 'small', 3),       A    B      C  D  E
12  foo  th4  small  3  1)

            E
C       large                            small
D           1    2   3    4   5   6    7     1   2    3   4    5    6   7
A   B
bar one   NaN  NaN NaN  1.0 NaN NaN  NaN   NaN NaN  NaN NaN  1.0  NaN NaN
    th1   NaN  NaN NaN  NaN NaN NaN  NaN   NaN NaN  NaN NaN  NaN  NaN NaN
    th2   NaN  NaN NaN  NaN NaN NaN  NaN   NaN NaN  NaN NaN  NaN  NaN NaN
    th3   NaN  NaN NaN  NaN NaN NaN  NaN   NaN NaN  NaN NaN  NaN  NaN NaN
    th4   NaN  NaN NaN  NaN NaN NaN  NaN   NaN NaN  NaN NaN  NaN  NaN NaN
    two   NaN  NaN NaN  NaN NaN NaN  1.0   NaN NaN  NaN NaN  NaN  1.0 NaN
foo one   NaN  1.0 NaN  NaN NaN NaN  NaN   1.0 NaN  NaN NaN  NaN  NaN NaN
    th1   NaN  NaN NaN  NaN NaN NaN  NaN   NaN NaN  1.0 NaN  NaN  NaN NaN
    th2   NaN  NaN NaN  NaN NaN NaN  NaN   NaN NaN  1.0 NaN  NaN  NaN NaN
    th3   NaN  NaN NaN  NaN NaN NaN  NaN   NaN NaN  1.0 NaN  NaN  NaN NaN
    th4   NaN  NaN NaN  NaN NaN NaN  NaN   NaN NaN  1.0 NaN  NaN  NaN NaN
    two   NaN  NaN NaN  NaN NaN NaN  NaN   NaN NaN  NaN NaN  NaN  NaN NaN

In [117]:
temp = df.groupby(keys).agg(aggfunc).apply(csr_matrix)

pd.SparseDataFrame(temp)

UnboundLocalError: local variable 'mgr' referenced before assignment